.content {
    background-color: white;
}

.content .side-left {
    display: flex;
    align-items: center;
  }
  
.content .btn-add-activity {
    background-color: #F0F6FF;
    color: #2775EC;
    border: none;
    margin-left: 8px;
}

.content .btn-add-proyek {
  background-color: #F0F6FF;
  color: #F15858;
  border: none;
  margin-left: 8px;
}

.content .header-content  {
    justify-content: space-between;
}

.content .btn-content {
    display: flex;
    align-items: center;
  }
  
.content .btn-content .icon {
    margin-right: 6px;
  }

.content .side-right {
    display: flex;
    align-items: center;
  }
  
.content .icon-button {
    margin-left: 8px;
  }

.popupAddActivity {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popupAddProyek {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popupEditActivity {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}