.title {
    font-family: 'Pacifico', cursive;
    color: #212529;
    font-size: 2rem; /* Mengubah ukuran font agar sesuai dengan layar yang lebih kecil */
}

.form-create-wo {
    min-width: 20rem; /* Mengubah min-width agar lebih responsif */
    padding: 0 1rem;
    
    .label {
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        font-size: 1rem; /* Mengubah ukuran font agar sesuai dengan layar yang lebih kecil */
        position: relative;
        left: 0;
        color: #212529;
    }
    
    .form-control {
        background-color: #f2f6f8;
        border-radius: 0.5rem;
        border: none;
        
        &.thick {
            height: 3rem; /* Mengubah tinggi input agar sesuai dengan layar yang lebih kecil */
            padding: .5rem 3rem; /* Mengubah padding input agar sesuai dengan layar yang lebih kecil */
        }
        
        &:focus {
            background-color: #f2f6f8;
            border: none;
        }
    }
    
    ::placeholder {
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        font-size: 1rem; /* Mengubah ukuran font agar sesuai dengan layar yang lebih kecil */
        color: #838788;
        position: relative;
        left: 0;
    }
    
    input,
    textarea {
        font-family: 'Quicksand', sans-serif;
        color: #212529;
        font-size: 1rem; /* Mengubah ukuran font agar sesuai dengan layar yang lebih kecil */
    }
}

.pengaturan .btn-cancel {
    font-family: 'Quicksand', sans-serif;
	font-weight: bold;
    color: #2775EC;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-cancel:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #4f74f9ba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
  }

  .pengaturan .btn-save {
    font-family: 'Quicksand', sans-serif;
	font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image:#2775EC;
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-save:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #4f74f9ba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
  }
  

@media (max-width: 992px){
    .form-create-wo {
        min-width: 100%; /* Mengatur lebar agar mengisi seluruh lebar layar pada perangkat seluler */
    }
}

@media (min-width: 768px) { /* Misalnya, di sini saya menggunakan ukuran 768px sebagai breakpoint untuk menandai bahwa ini bukan tampilan mobile */
    .card {
      width: 100%;
      max-width: 30%;
      margin: auto;
      /* Tambahan gaya CSS lainnya sesuai kebutuhan */
    }
}


@media (min-width: 768px) { /* Misalnya, di sini saya menggunakan ukuran 768px sebagai breakpoint untuk menandai bahwa ini bukan tampilan mobile */
    .btn-cancel, .btn-save {
      width: 100%;
      max-width: 50%;
      margin: auto;
      /* Tambahan gaya CSS lainnya sesuai kebutuhan */
    }
}